@font-face {
    font-family:OneShot ;
    src: url(south\ park.ttf);
}
*{font-family:'OneShot';}


body{
background-image: url(southpark.jpg) ;
background-attachment: fixed;
}





header{
    color: white;
    border: 3px solid #a7a7a7; 
    box-shadow: 0 0 40px #ffffff;
    background-color: #00000071;
    text-align: center;
}

header_ul-li{
    color: white;
    font-size: 25px;
    display: inline-block;
    margin: 0 30px;


}